<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register Book</title>
  <style>
    .book-image {
      width: 200px;
      height: 300px;
      border: 1px solid black;
    }

    .book-image img {
      width: 100%;
    }
  </style>
</head>
<body>
  <div>
    <h2>{{ subtitle }}</h2>
    <form action="register_book.php" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="{{ book.Title }}"><br>
      <label for="publisher">Publisher</label>
      <input type="text" name="publisher" id="publisher" value="{{ book.Publisher }}"><br>
      <label for="Author">Author</label>
      <input type="text" name="Author" id="Author" value="{{ book.Author }}"><br>
      <label for="year">Year</label>
      <input type="number" name="year" id="year" value="{{ book.Year }}"><br>
      <label for="language">Language</label>
      <select name="language" id="language">
        {% for lang in languages %}
          <option value="{{ lang.LangID }}" {% if book.LangID == lang.LangID %}selected{% endif %}>
            {{ lang.LangDescrip }}
          </option>
        {% endfor %}
      </select><br>
      <label for="category">Category</label>
      <select name="category" id="category">
        {% for category in categories %}
          <option value="{{ category.CategoryID }}" {% if book.CategoryID == category.CategoryID %}selected{% endif %}>
            {{ category.CategoryDescrip }}
          </option>
        {% endfor %}
      </select><br>
      <label for="descrip">Discription</label>
      <textarea name="descrip" id="descipt" cols="60" rows="10">
        {{ book.Description }}
      </textarea><br>

      <label for="book-img">Book Photo:</label>
      <input type="file" id="book-img" name="image" value=""><br>
      <div class="book-image">
        {% if book.ISBN != null %}
          {% if book.BookImage != null %}
            <img src="../public/img/{{ book.BookImage }}" alt="Cover image of the {{ book.Title }}"></div>
          {% else %}
            <img src="../public/img/no_image_book.png" alt="Cover image of the {{ book.Title }}"></div>     
          {% endif %}
        {% endif %}
      </div>

      <input type="hidden" name="isbn" value="{{ book.ISBN }}">
      <button type="submit">Register book</button>
      <button type="reset">Reset</button>
    </form>
  </div>
  <script>
    const inputFileBtn = document.querySelector('#book-img');
    const upLoadFile = (file) => {
      const formData = new FormData();
      formData.append('image', file);

      fetch('upload_image.php', {
        method: 'POST',
        body: formData
      }).then((response) => {
        console.log(response);
        // for testing
        if (document.querySelector('.book-image').childElementCount == 0) {
          const imageElement = document.createElement('img');

          imageElement.src = '../public/img/' + file.name;
          imageElement.alt = 'book image';
          document.querySelector('.book-image').appendChild(imageElement);
        } else {
          document.querySelector('.book-image img').src = '../public/img/file.name';
        }
      });
    };

    inputFileBtn.addEventListener('change', () => {
      if (inputFileBtn.files[0].size < 2000000) {
        upLoadFile(inputFileBtn.files[0]);
      } else {
        alert('too big file');
      }
    });
  </script> 
</body>
</html>